[Unit]
Description=A simple bot for mastodon, which posts the content of Wikipedia's 'on this day' feed during the day.
[Service]
User=$user
WorkingDirectory=$repo_root
ExecStart=$uv_bin run python wikibot.py